# ignore all raw data 
data/
*.csv
*.zip

# ignore enviorment data
idx_env/

.ipynb_checkpoints/
__pycache__/

# allow Week 3 deliverable CSV
!Week3/cleaned_model_data.csv
!Week3\model_data_knn_before_encoding.csv